main.content {
    overflow-x: scroll;
}

.card {
    max-width: 18rem;
    min-width: 200px;
    cursor: pointer;
}

.highlighted {
    background-color: #9AB6F1 !important;
}

.blue-background-class {
    background-color: #C8EBFB !important;
}

.highlight {
    background-color: #B7F8C7 !important;
}